@charset "UTF-8";

*, ::after, ::before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
	display: none;
}

* {
	scrollbar-width: none;
}

html, body {
	min-width: 800px;
	min-height: 600px;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body {
	background-color: #303030;
}

.main {
	position: relative;
	width: 100%;
	height: 100%;
}

#reload_button {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 20px;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 2px;
	border-radius: 50%;
	color: #27c7ff;
	background-color: rgba(255, 255, 255, 0);
	border: none;
}

#reload_button:link, #reload_button:visited {
	text-decoration: none;
}

#reload_button:hover {
	opacity: 0.8;
}

#reload_button:active {
	opacity: 0.6;
}

#reload_button i {
	font-size: 32px;
}

iframe {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: none;

}
